body {
  margin: 0;
  padding: 0;
}

#home-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#navbar-outer-container {
  height: 14vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-container {
  height: 14vh;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10vh;
}

#brand-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#brand-info img {
  width: 8vh;
  object-fit: cover;
}

#brand-name {
  margin-left: -10px;
  font-size: 23px;
  font-weight: 700;
}

#menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 15vh;
}

.menu {
  font-weight: 700;
  border: 2px white solid;
  padding-bottom: 5px;
  border-radius: 2px;
  font-size: 17px;
}

.menu:hover {
  cursor: pointer;
  border-bottom: 2px rgb(0, 0, 0) solid;
}

#search-bar-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#user-login-icon {
  height: 5vh;
  width: 5vh;
  object-fit: cover;
}

.fa,
.fa-brands,
.fa-regular,
.fa-solid,
.fab,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
}

#page-heading {
  margin-left: 30px;
}

#shopping-cart-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#cart-table {
  border: 1px rgb(224, 221, 221) solid;
  width: 150vh;
}

.cart-product-img img {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
}

.cart-product-details {
  width: 50vh;
}

.cart-product-name {
  font-weight: 700;
}

.cart-product-price {
  font-weight: 700;
}

.cart-product-quatity {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.quatity {
  height: 6vh;
  width: 7vh;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
}

.delete-item img {
  height: 5vh;
  width: 5vh;
}

#clear-cart-btn {
  margin-left: 105vh;
}

#order-summary-container {
  border: 1px rgb(219, 215, 215) solid;
  height: 80vh;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#order-summary {
  height: 70vh;
}

#checkout-btn {
  display: block;
  width: 40vh;
  background-color: rgb(5, 28, 59);
  border-color: rgb(5, 28, 59);
}

#paypal-btn {
  width: 40vh;
  margin-top: 20px;
}

#footer-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: auto;
  height: 18vh;
  /* background-color: rgb(220, 219, 219); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20vh;
}

.footer {
  width: 30vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#footer-text p {
  width: 20vh;
}

.footer-icon img {
  height: 7vh;
  width: 7vh;
  object-fit: cover;
}
